<div class="post">
    <h2 class='title'>Current category: {{name}}</h2>
    <hr>
    <h2 class="post-title">Chose a sub-category below</h2>
</div>
<hr>
<div class="row">
    {{#subcategories}}
    <div class="categories_width">
        <div class="card_series shadow-sm"> 
            <div class="card_series-body">
                <div class="flex_it">   
                    <img class="reduced_size" src="{{icon}}" alt="{{name}}">
                    <h3><b><a href='{{baseurl}}subcategories/{{id}}'>{{name}}</a></b></h3>
                </div>
                <hr>
            </div>
            <h6 class='descriptive'>{{description}}</h6>
        </div>
    </div>
    {{/subcategories}}
</div>
