<div class="post">
    <button class=button><a href="/"> Back to Categories </a></button>
    <h5>Current category: {{name}}</h5>
    <hr>
    <h5>Chose a sub-category below:</h5>
</div>
<hr>
<div class="row">
    {{#subcategories}}
    <div class="card">
        <div class="categories_width">
            <div class="center_content">
                <img class="reduced_size center_content" src="{{baseurl}}assets/img/{{icon}}" alt="{{name}}">
                <h3><b><a href='{{baseurl}}subcategories/{{id}}'>{{name}}</a></b></h3>
            </div>   
            <hr>
            <h6 class='descriptive'>{{description}}</h6>
            <br>
            <br>
            <button class="button bottom_append"><a href="{{baseurl}}subcategories/{{id}}"> Go </a></button>            
        </div>
    </div>
    {{/subcategories}}
</div>
