<div class="post">
    <a href="/"> <button class=button> Back to Categories </button></a>
    <h5>Current category: {{name}}</h5>
    <h5>Choose a sub-category below:</h5>
</div>
<div class="row">
    {{#subcategories}}
    <div class="card">
        <div class="categories_width">
            <div class="center_content">
                <a href='{{baseurl}}subcategories/{{id}}'><img class="reduced_size center_content" src="{{baseurl}}assets/img/{{icon}}" alt="{{name}}"></a>
                <h3><b><a href='{{baseurl}}subcategories/{{id}}'>{{name}}</a></b></h3>
            </div>
            <h6 class='descriptive'>{{description}}</h6>
            <br>
            <br>
            <a href="{{baseurl}}subcategories/{{id}}"><button class="button bottom_append"> Go </button> </a>
        </div>
    </div>
    {{/subcategories}}
</div>
