<div class="post">
    <h1> Chose a category below, and start learning from professionals worldwide.</h1>
</div>
<hr>
<div class="row">
    {{#categories}}
    <div class="card">
        <div class="categories_width">
                <img class="img_fit" src="{{baseurl}}/assets/img/{{icon}}" alt="{{name}}">
                <h4><b><a href="{{baseurl}}categories/{{id}}">{{id}} - {{name}}</a></b></h4>
        </div>
    </div>
    {{/categories}}
</div>