<div class="post">
    <h1 class="post-title">Introducing OpenSourceEducation</h2>
    <h2>Chose a section below and sharpen your skills thanks to leading professionals in their fields.</h2>
    <h5>All Rights belong to their owners. Please support the content creators listed in this webapp on their Youtube Channels.</h5>
</div>
<hr>
<br>
<br>

<button class ="button" onclick="goBack()">Go Back To previous Page</button>

<h1> We are currently gathering more tutorials. Check back Shortly</h1>
<h2><a href="https://github.com/bosonprojets/tmplearnosarch">Want to help us gather more tutorials? Contribue to our open source repo</h2>


<script>
function goBack() {
  window.history.back();
}
</script> 
