<div class="post">
    <a href="{{baseurl}}subcategories/{{subcategory_id}}"> <button class=button> Back to {{subcategory_name}} </button></a>
    <br>
    <br>
    <h3>Course: {{series_name}}</h3>
    <img class= "crop_circle_img" src="{{icon}}" alt="{{author_name}}">
    <a href="{{channel_link}}" target="_blank"><h3>{{author_name}}</h3></a>
</div>
<div class="row">
    {{#episodes}}
    <div class="episode_width">
        <div class="card">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{episode_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4><b>{{episode_name}}</b></h4>
        </div>
    </div>
    {{/episodes}}
</div>
