<div class="post">
    <button class=button><a href="{{baseurl}}/subcategories/{{subcategory_id}}"> Back to {{subcategory_name}} </a></button>
    <hr>
    <h2>Course: {{series_name}}</h2>
    <img class= "crop_circle_img" src="{{icon}}" alt="{{author_name}}">
    <p class='descriptive'><a href="{{channel_link}}" target="_blank">{{author_name}}</a></p>
</div>
<div class="row">
    {{#episodes}}
    <div class="episode_width">
        <div class="card">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{episode_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <hr>
            <h4><b>{{episode_name}}</b></h4>
        </div>
    </div>
    {{/episodes}}
</div>
