<div class="post">
    <a href="{{baseurl}}categories/{{category_id}}"><button class=button> Back to {{category_name}}</button></a>
    <h5>Current section: {{subcategory_name}}</h5>
    <h5>Find a course and learn from your favourite content creators! </h5>
</div>
<div class="row">
    {{#series}}
    <div class="card">
        <div class="categories_width">
            <div class="center_content">
                <a href='{{series_link}}' target="_blank"><img class= "crop_circle_img" src="{{icon}}" alt="{{author_name}}"></a>
                <p class='title'>{{author_name}}</p>
                <h6><a href='{{series_link}}' target="_blank">{{series_name}}</a></h6>
            </div>
            <h6 class='descriptive'>{{description}}</h6>
            <br>
            <br>
            {{#is_a_guide}}
                <a href="{{series_link}}" target="_blank"><button class="button bottom_append"> How-to Guides </button></a>
            {{/is_a_guide}}
            {{^is_a_guide}}
                <a href="{{series_link}}" target="_blank"><button class="button bottom_append"> Video Series </button></a>
            {{/is_a_guide}}
        </div>
    </div>
    {{/series}}
</div>
