<!DOCTYPE html>
<html xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>learn.OSARCH</title>
    <link rel="stylesheet" href="{{baseurl}}style/nodistraction.css">
</head>
<body>
    <div class="wrapper">
        <div class="left_column">
            <div class="sidebar-about">
                <h1><a href="{{baseurl}}">learn.OSARCH</a></h1>
                <h4>A database of free courses and openBIM workflows for AEC professionals.</h4>
            </div>
            <nav class="nav_pc">
                <hr>
                <button class=button><a href="{{baseurl}}"> Homepage </a></button>
                <hr>
            </nav>
            <nav class="nav_pc">
                <ol>
                    {{#categories}}
                    <li><a class="lead" href="{{baseurl}}categories/{{id}}">{{name}}</a></li>
                    {{#is_active_category}}
                    <ul>
                        {{#subcategories}}
                        <li><a href="{{baseurl}}subcategories/{{id}}">{{name}}</a></li>
                        {{/subcategories}}
                    </ul>
                    {{/is_active_category}}
                    <br>
                    {{/categories}}
                </ol>
                <hr>
                <p>AEC Free Software Directory</p>
                <hr>
                <br>
                <br>
            </nav>
        </div>
        <br>
        <hr>
        <br>
        <hr>
        <div class="right_column">
            {{{content}}}
        </div>
    </div>
</body>
</html>
